/***** css rules star selector and body *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 16px;
}

/***** color text *****/
.c-white {
    color: white;
}

.c-grey {
    color: #a3a3a3;
}

/* text formatting */
.no-underline {
    text-decoration: none;
}

.fw-700 {
    font-weight: 700;
}

/* css rules no bullet list */
ul, li {
    list-style-type: none;
}

/***** css rules hover *****/
header a:hover {
    transform: scale(1.2);
}

aside a:hover {
    color: white;
}