/***** css rules star selector and body *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 16px;
}

/***** color text *****/
.c-white {
    color: white;
}

.c-grey {
    color: #a3a3a3;
}

/***** text formatting *****/
.no-underline {
    text-decoration: none;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

/***** css rules no bullet list *****/
ul, li {
    list-style-type: none;
}

/***** css rules hover *****/

/* hover header upgrade */
header a:hover {
    transform: scale(1.2);
}

/* hover aside all selection */
aside a:hover {
    color: white;
}

/* hover footer left flex item*/
.left-footer a:hover {
    color: white;
}

.left-footer a.no-underline:hover {
    text-decoration: underline;
}

/* hover footer right flex item*/
footer .right-footer a:hover {
    color: white;
}

/* hover volume-bar footer */
.volume-bar:hover #circle-sound {
    position: absolute;
    top: -7px;
    left: 40px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}

.volume-bar:hover {
    cursor: pointer;
}

.volume-bar:hover #volume {
    background-color: greenyellow;
}

/***** customization scrollbar *****/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }