/***** css rules header *****/
header {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: calc(100% - 200px);
    height: 90px;
    z-index: 1;
    margin-left: 200px;
}

.a-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    width: 95%;
    margin: 0 auto;
}

header a {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 25px;
}

/***** css rules aside *****/
aside {
    background-color: black;
    position: fixed;
    height: calc(100%);
    padding-bottom: 90px;
    width: 200px;
    z-index: 1;
}

/* flex column */
.container-aside-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/* css rules image aside */
.wrapper-img-aside {
    height: 90px;
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.wrapper-img-aside img {
    width: 70%;
}

/* css rules ul aside  */
aside ul {
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

aside li a, .li-aside {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 85%;
    margin: 0 auto;
}

aside li img {
    width: 15%;
}

aside li a p {
    font-size: 0.8rem;
}

aside ul .active-sidebar {
    border-left: 3px solid greenyellow;
}

aside .li-aside {
    margin-top: 10px;
}

aside li i.add {
    font-size: 3rem;
}

aside .scroll-playlist li > a{
    font-size: 0.8rem;
}

aside .install-wrapper,
aside .profile-wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

aside .install-wrapper {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a3a3a3;
}

aside .profile-wrapper {
    margin-bottom: 10px;

}

aside .install-wrapper img,
aside .profile-wrapper img {
    width: 15%;
}

aside .profile-wrapper img {
    background-color: #808080;
    border-radius: 50%;
}

/***** css rules main section *****/
main {
    background-color: #141922;
    padding-top: 90px;
    margin-left: 200px;
    height: calc(100vh - 90px);
    overflow-y: scroll;
}

.container-main {
    display: flex;
    flex-direction: column;
}

/* nav-bar main content */
nav {
    height: 50px;
    width: 100%;
}

nav ul {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    font-size: 0.8rem;
}

nav ul li:first-child {
    position: relative;
}

.short-border {
    width: 30px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50% , 0);
    border-bottom: 2.5px solid greenyellow;
}

/* main content */
.content-wrapper-main {
    background-color: burlywood;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 98%;
    margin: 0 auto 30px;
}

.recently-played,
.created-for,
.most-popular {
    display: flex;
    column-gap: 30px;
}

.recently-played h2,
.created-for h2,
.most-popular h2 {
    font-size: 1.5rem;
    margin-top: 15px;
}

.recently-played h2 + p,
.created-for h2 + p,
.most-popular h2 + p {
    margin-top: 10px;
}

.wrapper-image-song {
    width: 300px;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-image-song-320 {
    background-color: salmon;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[alt=einaudi],
[alt=lana] {
    height: 300px;
    border-radius: 50%;
}

main h1 {
    font-size: 2rem;
}

main h1 + p {
    font-size: 1.2rem;
}

.title-recently-played, 
.title-created-for, 
.title-most-popular {
    margin: 30px 0;
}










/***** css rules footer *****/
footer {
    position: fixed;
    background-color: #282828;
    width: 100%;
    height: 90px;
    z-index: 10;
}

footer .container-footer {
    height: 100%;
    width: 99%;
    margin: 0 auto;
    display: flex;
}

.left-footer,
.center-footer,
.right-footer {
    width: calc(100% / 3);
}

.left-footer,
.center-footer,
.right-footer {
    display: flex;
    align-items: center;
}

/* left flex item footer */
.left-footer {
    column-gap: 30px;
}

.image-footer {
    width: 70px;
}

.image-footer img {
    height: 80%;
    width: 80%;
}

.song-wrapper-footer {
    display: flex;
    align-items: center;
}

.title-song-footer > h3 {
    font-size: 0.9rem;
}

.title-song-footer > a {
    font-size: 0.8rem;
}

.icon-footer {
    display: flex;
    column-gap: 10px;
}

/* center flex item footer */
.center-footer {
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.container-btn {
    display: flex;
    column-gap: 20px;
}

.container-btn > * {
    font-size: 1.3rem;
    cursor: pointer;
}

.container-song-bar {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.container-song-bar .c-white {
    font-size: 0.8rem;
}

.song-bar {
    position: relative;
    background-color: #5a5a5a;
    width: 400px;
    height: 5px;
    border-radius: 25px;
}

#time {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 25px;
}

/* right flex item footer */
.right-footer {
    justify-content: flex-end;
    column-gap: 20px;
}

.volume-bar {
    position: relative;
    background-color: #5a5a5a;
    width: 150px;
    height: 5px;
    border-radius: 25px;
}

#volume {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 25px;
}